name: Deploy website via FTP

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - LICENSE
      - .gitignore
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync files to shared hosting
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ftp.turkogluenes.com
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: /public_html/
          local-dir: ./
          state-name: .ftp-deploy-sync-state.json
          dangerous-clean-slate: false
